.corpo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.regiao{
    margin-top: 2em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 15px;
    outline: none;
    width: 80vw;
    background-color: white;
    /* border: none; */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.box {
    color: #2E4231;
    margin-top: -15px;
    width: 81%;
    height: 70%;
    text-align: center;
    background-color: rgba(254, 254, 254, 0.60);
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

a.entrada {
    justify-content:space-around;
    font-size: 17px;
    text-align: center;
    width: 100%;
    color: black;
}

table {
    width: 100%;
    padding: 10px;
}

.linha {
    background-color: #86A693;
}

#infos {
    font-size: 15px;
}