<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/style-cadastro.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Oleo+Script&display=swap');
    </style>
    <title>Cadastro</title>
</head>
<body>
    <header>
        <a class="logo">SICLO</a>
        <nav>
            <ul class="navlinks">
                <li><a class="cta" href="../inicio">Inicio</a></li>
                <li><a class="cta" href="../sobreInicio">Sobre</a></li>
                <li><a class="cta" href="../empresas">Empresas</a></li>
                <li><a class="cta" href="../instituicoes">Instituições</a></li>
                <li><a class="cta" href="../login">Login</a></li>
                <li><a class="cta_link" href="../cadastro1">Cadastre</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="box"> -->
        <form action="/cadastrado" method="POST">
            
            <fieldset class="conteudo-formulario">
                <div class="topo">
                    <h1>Crie uma conta</h1>
                    <p>Cadastre-se para participar da comunidade Siclo!</p>
                </div>


                <div class="corpoForm">
                    <div class="ladoEsquerdo">
                        <div class="campo">
                            <input type="text" name="nome" id="nome" class="entrada" required>
                            <label for="nome" class="nomeCampo">Nome</label>
                        </div>
                        
                        <br><br>
                        
                        <div class="campo">
                            <input type="tel" name="telefone" id="telefone" class="entrada" required>
                            <label for="telefone" class="nomeCampo">Telefone para contato</label>
                        </div>
                        
                        <br><br>
        
                        <div class="campo">
                            <label for="regiao" class="pergunta">Região administrativa: </label>
                            <select name= "regiao" id="regiao">
                                <option selected disabled value="">Selecione</option>
                                <option>Ceilândia</option>
                                <option>Plano Piloto</option>
                                <option>Taguatinga</option>
                                <option>Lago Sul</option>
                                <option>Gama</option>
                                <option>Brazlândia</option>
                                <option>Sobradinho</option>
                                <option>Planaltina</option>
                                <option>Paranoá</option>
                                <option>Núcleo Bandeirante</option>
                                <option>Guará</option>
                                <option>Cruzeiro</option>
                                <option>Samambaia</option>
                                <option>Santa Maria</option>
                                <option>São Sebastião</option>
                                <option>Recanto das Emas</option>
                                <option>Riacho Fundo</option>
                                <option>Lago Norte</option>
                                <option>Candangolândia</option>
                                <option>Águas Claras</option>
                                <option>Riacho Fundo 2</option>
                                <option>Sudoeste/Octogonal</option>
                                <option>Varjão</option>
                                <option>Park Way</option>
                                <option>Estrutural/Scia</option>
                                <option>Sobradinho II</option>
                                <option>Jardim Botânico</option>
                                <option>Itapoã</option>
                                <option>SIA</option>
                                <option>Vicente Pires</option>
                                <option>Fercal</option>
                                <option>Sol Nascente/Pôr do Sol</option>
                                <option>Arniqueira</option>
                            </select><br><br>
                        </div>
                        
                        <br><br>

                        <div class="campo">
                            <input type="text" name="endereco" id="endereco" class="entrada" required>
                            <label for="endereco" class="nomeCampo">Endereço</label>
                        </div>
                        <br><br>

                        <div class="campo">
                            <label for="detalhe">Conte-nos sobre a sua instituição ou empresa:</label>
                            <textarea rows="5" cols="50" id="detalhe" name="detalhe"></textarea>
                        </div><br>
                    </div>
                    
                    <div class="ladoDireito">
                        <div class="campo">
                            <input type="email" name="email" id="email" class="entrada" required>
                            <label for="email" class="nomeCampo">Email</label>
                        </div>

                        <br><br>
                        
                        <div class="campo">
                            <input id="senha" name="senha" type="password" class="entrada" required>
                            <label for="senha" class="nomeCampo">Nova senha</label>
                        </div>
                        
                        <br><br>

                        <div class="campo">
                            <label for="representa" class="pergunta">O que você representa?</label>
                            <select name= "representa" id="representa">
                                <option selected disabled value="">Selecione</option>
                                <option>Empresa</option>
                                <option>Instituição</option>
                                <option>Outro</option>
                            </select>
                        </div>
                        
                        <br><br><br><br><br><br>

                        <div class="campo">
                            <label for="produto">Produto(s) que deseja receber/doar:</label>
                            <textarea rows="5" cols="50" id="produto" name="produto"></textarea>
                        </div><br>

                    </div>

                </div>

                <div class="final">
                    <button type="submit" name="conclui" id="conclui">Concluído</button>
                </div>

            </fieldset>
        </form>
    <!-- </div> -->

</body>
</html>

