<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/style-instEmp.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Oleo+Script&display=swap');
    </style>
    <title>Instituições</title>
</head>
<body>
    <header>
        <a class="logo">SICLO</a>
        <nav>
            <ul class="navlinks">
                <li><a class="cta" href="/">Inicio</a></li>
                <li><a class="cta" href="../sobreInicio">Sobre</a></li>
                <li><a class="cta" href="../empresas">Empresas</a></li>
                <li><a class="cta_link" href="../instituicoes">Instituições</a></li>
                <li><a class="cta" href="../perfil">Perfil</a></li>
                <li><a class="cta" href="../logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="corpo">

        <div class="selecione">
            <label for="regiao" class="pergunta"></label>
            <select name= "regiao" class="regiao">
                <option selected disabled value="">Selecione a região administrativa</option>
                <option>Ceilândia</option>
                <option>Plano Piloto</option>
                <option>Taguatinga</option>
                <option>Lago Sul</option>
                <option>Gama</option>
                <option>Brazlândia</option>
                <option>Sobradinho</option>
                <option>Planaltina</option>
                <option>Paranoá</option>
                <option>Núcleo Bandeirante</option>
                <option>Guará</option>
                <option>Cruzeiro</option>
                <option>Samambaia</option>
                <option>Santa Maria</option>
                <option>São Sebastião</option>
                <option>Recanto das Emas</option>
                <option>Riacho Fundo</option>
                <option>Lago Norte</option>
                <option>Candangolândia</option>
                <option>Águas Claras</option>
                <option>Riacho Fundo 2</option>
                <option>Sudoeste/Octogonal</option>
                <option>Varjão</option>
                <option>Park Way</option>
                <option>Estrutural/Scia</option>
                <option>Sobradinho II</option>
                <option>Jardim Botânico</option>
                <option>Itapoã</option>
                <option>SIA</option>
                <option>Vicente Pires</option>
                <option>Fercal</option>
                <option>Sol Nascente/Pôr do Sol</option>
                <option>Arniqueira</option>
            </select><br><br>
        </div>
    
        <div class="box">
            <table class="empresas">
                <tr>
                    <th>Instituição</th>
                    <th>Localização</th>
                    <th>Telefone</th>
                </tr>
                {{#each usuarios}}
                    <tr class="linha">
                        <td><a class="entrada" href="../detalhe/{{nome}}">{{nome}}</a></td>
                        <td><a class="entrada">{{regiao}}</a></td>
                        <td><a class="entrada">{{telefone}}</a></td>
                    </tr>
                    {{/each}}
            </table>
        </div>
    
    </div>
</body>
</html>